@{
    ViewBag.Title = "Mongo API Demo";
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <style type="text/css">
        #uiTodoItems li {
            cursor: pointer;
        }

        input[type=text] {
            border: 1px solid silver;
            padding: .3em;
        }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>
